// ** GLOBAL **
$white: #fff;

// ** TEXT COLORS **
$text-color: #4a4a4a;
$link-color: #898989;

// ** BACKGROUND COLORS **
$grey-background: #4a4a4a;
$grey-light-background: #f6f6f6;
$grey-dark-background: #0000008a;
$white-background: #fff;

