:root {
  --text-font-size: 16px;
  --h1-font-size: 44px;
  --h2-emphasize-size: 28px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --big-text-font-size: 17px;
  --small-font-size: 14px;
  --xs-font-size: 12px;
  --xxs-font-size: 10px;
}
