.side-menu {
    background-color: $main-purple;
}

.side-menu-item {
    color: white !important;
}

// Override
.ui.menu {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}
