.side-menu {
    background-color: white;
}

.side-menu-item {
    color: $light-grey !important;
    font-weight: bold;
}

.side-menu-item:hover {
    color: $main !important;
    border-right: 4px solid $main !important;
    border-radius: 0 !important;
    background: $main-extra-light !important;

    .sidebar-menu-item-icon {
        color: $main !important;
    }
}

// Add left border to active menu item
.ui.vertical.menu .active.item {
    border-right: 4px solid $main;
    border-radius: 0 !important;
    color: $main !important;
    background: $main-extra-light !important;

    .sidebar-menu-item-icon {
        color: $main !important;
    }
}

// Override
.ui.menu {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.logo-section {
    padding-bottom: 2rem;
}

.sidebar-username {
    margin: 0 !important;
    padding-top: 0.5rem;
    color: $grey;
    font-weight: bold;
    text-align: center;
}

// Logo font fix
.logo text {
    font-family: "Montserrat" !important;
    fill: $grey !important;
}

.logo {
    width: 77%;
    display: block;
    margin: auto;
}
