// == BASE ==
.side-menu {
    width: 13% !important;
}

// == SIDE MENU ITEM ==
.side-menu-item {
    color: $grey-transparent !important;
    font-weight: bold;
}

.side-menu-item:hover {
    color: $blue !important;
    border-right: $main-border-width solid $blue !important;
    border-radius: 0 !important;
    background: $blue-transparent !important;

    .sidebar-menu-item-icon {
        color: $blue !important;
    }
}

// Add left border to active menu item
.ui.vertical.menu .active.item {
    border-right: 4px solid $blue;
    border-radius: 0 !important;
    color: $blue !important;
    background: $blue-transparent !important;

    .sidebar-menu-item-icon {
        color: $blue !important;
    }
}

// == LOGO SECTION ==
.logo-section {
    padding-bottom: 2rem;
}

.logo {
    width: 77%;
    display: block;
    margin: auto;
}

.sidebar-username {
    margin: 0 !important;
    padding-top: 0.5rem;
    color: $grey;
    font-weight: bold;
    text-align: center;
}
