.task-area {
    margin: 0 !important;
}

.task-area-header {
    padding: 10px !important;
    font-weight: bold;
    font-size: 20px;
    background: $main-purple;
    color: white;
    font-family: Roboto, sans-serif;
}
