// Genereal
.todo-card {
    background: white;
    margin-bottom: 2rem !important;
}

.todo-card-icon {
    color: white;
}

// Card title
.todo-card-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0.4rem !important;
    border-left: 4px solid $main;
}

.todo-card-title:hover {
    .todo-card-icon {
        color: $main;
    }
}

// Todo List
.todo-card-todos {
    padding: 1rem;
}

// Card item
.todo-card-item {
    padding: 0 !important;
    margin: 6px 0px 6px 0px;
    border-left: 4px solid transparent;
}

.todo-card-item:hover {
    background: $extra-light-blue;
    border-left: 4px solid $main-red;

    .todo-card-icon {
        color: $main;
    }
}

// Input
.add-todo-input-row {
    margin: 10px 0px 10px 0px;
    opacity: 0;
}

.add-todo-input-row:hover {
    opacity: 1;
}

.add-todo-input-field input {
    border: none !important;
}
