// == BASE ==
.weight-table {
    border-radius: 0 !important;
}

// Tabe header
.table-header th {
    background: $blue-transparent !important;
    border-radius: 0 !important;
    border: none !important;
}
