.days-list {
  max-height: 100vh;
}

.days-list__item {
  color: $text-color-secondary;
  //padding: $spacing-xxs $spacing-lg;
  text-decoration: none;

  &:hover {
    background: $background-color-grey-light;
    color: $text-color-primary;
  }
}

.days-list__item--active {
  background: $background-color-grey-light;
  color: $text-color-primary;
}
