.days-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
}

.days-list__days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.days-list__item {
  padding: $spacing-xs
}
