.form {
  @include flex-i-center-c-center;
  background-color: $bcg-co-grey-lt;
  min-height: 100vh;
}

.form__card {
  background-color: $bcg-co-white;
  border-radius: $bor-ra-lg;
  box-shadow: $box-sh-def;
  flex-basis: 20%;
  height: 100%;
  min-width: 300px;
  padding: $spacing-lg;
}

.form__logo {
  height: 6em;
  margin-bottom: $spacing-lg;
  width: 100%;
}

.form__title {
  color: $text-color-secondary-025;
  padding: $spacing-sm 0;
}

.form__input-field {
  border: thin solid $bor-co-input-field;
  border-radius: $input-field-bor-ra;
  box-sizing: border-box;
  color: $text-color-input-field;
  font-size: $fn-sz-sm;
  height: $size-form-field;
  padding: 0 $spacing-default;
  transition: box-shadow 0.6s;
  width: 100%;

  &:focus {
    box-shadow: $box-sh-foc-lg;
    outline: none;
  }
}

.form__field-wrapper {
  padding: $spacing-xs 0
}

.form__field-title {
  color: $text-color-primary-base;
  font-size: $fn-sz-sm;
  font-weight: $fn-weight-medium;
  margin: 0;
  padding-bottom: $spacing-xs;
}

.form__button--wide {
  margin-top: $spacing-lg;
  width: 100%;
}

.form__button {
  margin-top: $spacing-xs;
}

.form__button-group--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  :nth-child(2) {
    margin-left: $spacing-md;
  }
}

.form__error-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: $spacing-xs;
}

.form__error-icon {
  height: 12px;
  padding-right: 8px;
  width: 12px;
}

.form__error-text {
  color: $error-color;
  font-size: $fn-sz-sm;
}


