.form {
  @include flex-i-center-c-center;
  background-color: $background-color-grey-lighter;
  min-height: 100vh;
}

.form__card {
  background-color: $background-color-white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-default;
  flex-basis: 20%;
  height: 100%;
  min-width: 300px;
  padding: $spacing-lg;
}

.form__logo {
  height: 6em;
  margin-bottom: $spacing-lg;
  width: 100%;
}

.form__title {
  color: $text-color-primary-light;
  padding: $spacing-sm 0;
}

.form__input-field {
  border: thin solid $border-color-input-field;
  border-radius: $border-radius-input-field;
  box-sizing: border-box;
  color: $text-color-input-field;
  font-size: $font-size-sm;
  height: $size-height-form-field;
  padding: 0 $spacing-def;
  transition: box-shadow 0.6s;
  width: 100%;

  &:focus {
    box-shadow: $box-shadow-default-focused;
    outline: none;
  }
}

.form__input-area {
  height: 100px;
  padding: $spacing-def;
  resize: none;
}

.form__field-wrapper {
  padding: $spacing-xs 0
}

.form__field-title {
  color: $text-color-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  margin: 0;
  padding-bottom: $spacing-xs;
}

.form__button--wide {
  margin-top: $spacing-lg;
  width: 100%;
}

.form__button {
  margin-top: $spacing-xs;
}

.form__button-group--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  :not(:first-child) {
    margin-left: $spacing-md;
  }
}

.form__error-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $spacing-xs $spacing-xxs;
}

.form__error-icon {
  height: 12px;
  padding-right: 8px;
  width: 12px;
}

.form__error-text {
  color: $color-error;
  font-size: $font-size-sm;
}

.form_input-wrapper {
  padding: $spacing-sm 0;
}
