.form {
  background-color: $background-color-light;
  min-height: 100vh;
}

.form__logo {
  height: 7em;
  width: 100%;
  margin-bottom: $spacing-lg;
}

.form__title {
  color: $text-color-title;
}

.form__card {
  padding: $spacing-lg;
  background-color: $background-color-white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-default;
}

.form__input-field {
  padding: 0 $spacing-default;
  height: $size-form-field;
  box-sizing: border-box;
  width: 100%;
  border: thin solid $border-color-input-field;
  border-radius: $input-field-border-radius;
  transition: box-shadow 0.6s;
  color: $text-color-input-field;
  font-size: $font-size-sm;

  &:focus {
    outline: none;
    box-shadow: $box-shadow-focus-large;
  }
}

.form__field-wrapper {
  padding: $spacing-xs 0
}

.form__field-title {
  color: $color-black-light;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  padding-bottom: $spacing-xs;
  margin: 0;
}

.form__error-wrapper {
  padding-top: $spacing-xs;
}

.form__error-icon {
  width: 12px;
  height: 12px;
  padding-right: 8px;
}

.form__error-text {
  color: $error-color;
  font-size: $font-size-sm;
}

.form__button {
  width: 100%;
}


