.info-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $spacing-xs 0;
}

.info-icon {
  height: 17px !important;
  padding-right: 8px;
  width: 17px !important;
}

.info-text {
  font-size: $font-size-sm;
}
