// Remove old radio and make base layer
input[type="radio"] {
  appearance: none;
  background-color: $background-color-white;
  border: 2px solid $border-color-default;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}

// New base layer box style
input[type="radio"]:checked {
  background-color: $background-color-white;
  border: 2px solid $background-color-blue;
}

// Checked state
input[type="radio"]:after {
  background-color: $background-color-blue;
  border-radius: 50%;
  content: '';
  height: 10px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 10px;

}

// Makes sure checkmark is visible
input[type="radio"]:checked:after {
  display: block;
}

// Disabled style
input[type="radio"]:disabled {
  background: $background-color-grey-lighter;
  opacity: 0.6;
  pointer-events: none;
}
