.reminders {
  background: $background-color-white;
  min-width: 300px;
  overflow-y: scroll;
  padding: $spacing-lg;
  width: 300px;
}

.reminders__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.reminders__icon {
  fill: $icon-button-color-primary;
  height: 25px;
  transition: fill 150ms ease-in-out;
  width: 25px;

  &:hover {
    cursor: pointer;
    fill: $icon-button-color-primary-hover;
  }
}
