.sidemenu {
  white-space: nowrap;
  position: relative;

  // Equalize all button heights
  .MuiListItem-button {
    height: 50px;
  }
}

.sidemenu__logo {
  padding: $spacing-sm;
  text-align: center;

  svg {
    height: 50px;
    vertical-align: middle;
    width: 100%;
  }
}

.sidemenu__items-wrapper {
  height: 100vh; // Bottom actions collapse into top without this
}

.sidemenu__item {
  text-decoration: none;
}

.sidemenu__bottom-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidemenu--open {
  @include toggle-drawer("open", 200px);

  .sidemenu__logo svg {
    @include toggle-sidemenu-logo(-200%, 0%)
  }
}

.sidemenu--closed {
  @include toggle-drawer("closed", 55px);

  .sidemenu__logo svg {
    @include toggle-sidemenu-logo(600%, 0%)
  }
}

