.task-area {
  background: $background-color-grey-lighter;
  padding: $spacing-lg $spacing-xl;
  width: 100%;
}

.task-area__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-transform:capitalize
}

.task-area__header-text {
  align-items: center;
  display: flex;
}

.task-area__button {
  border-color: $border-color-default !important;
  border-radius: $border-radius-def;
  color: $text-color-white !important;
  font-size: $font-size-md;
  padding: $spacing-xxs $spacing-xs;
  transition: background-color 150ms ease-in-out, box-shadow 200ms ease-in-out;

  &:hover {
    box-shadow: $box-shadow-medium;
  }
}

.task-area__icon {
  fill: $icon-button-color-primary-light;
  height: 24px;
  padding-left: $spacing-xxs;
  width: 24px;
}
