.task {
  align-items: center;
  border: 1px solid $border-color-input-field;
  border-radius: $border-radius-def;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-sm;
  padding: $spacing-sm;
  text-overflow: ellipsis;
}

.task__title {
  max-height: 19px;
  overflow: hidden;
  padding-left: $spacing-def;
  text-overflow: ellipsis;
  width: 90%;

  &:hover {
    cursor: pointer;
  }
}

.task__error div {
  padding: 0 !important;
}

.task__title--disabled {
  color: $text-color-primary-lighter;
  text-decoration: line-through;
}

.task__icon {
  height: 18px !important;
  width: 18px !important;
}

// Dialog fragment
.repeating-task__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repeating-task__weekdays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repeating-task__weekday {
  background-color: $button-background-color-secondary;
  border: 1px solid $border-color-input-field;
  border-radius: $border-radius-input-field;
  color: $text-color-primary;
  padding: $spacing-xs;
  transition-duration: 100ms;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: $button-background-color-secondary-hover;
    color: $text-color-primary;
    cursor: pointer;
  }
}

.repeating-task__weekday--selected {
  background-color: $button-background-color-primary;
  color: $text-color-white;

  &:hover {
    background-color: $button-background-color-primary-hover;
    color: $text-color-white;
  }
}

.repeating-task__interval {
  width: 48% !important;
}

.repeating-task__frequency {
  width: 48% !important;
}
