.reminder-card--loading {
  border: 2px solid $border-color-loader-block;
  border-radius: $border-radius-def;
  margin-top: $spacing-def;
  padding: $spacing-def;
}

.reminder-card__title--loading {
  @include loader-block-shine;
  border-radius: $border-radius-loader-block;
  height: $loader-title-text-height;
  margin-bottom: $spacing-xs;
}

.reminder-card__description-line--loading {
  @include loader-block-shine;
  border-radius: $border-radius-loader-block;
  height: $loader-description-text-height;
  margin-bottom: $spacing-xxs;
}

.reminder-card__date-wrapper--loading {
  display: flex;
  flex-direction: row;
  margin-top: $spacing-xs;

  :first-child {
    margin-right: $spacing-xs;
  }
}

.reminder-card__tag--loading {
  @include loader-block-shine;
  border-radius: $border-radius-loader-block;
  height: $loader-tag-height;
  width: $loader-tag-width;
}
