// == BASE ==
.edit-todo-name-popup {
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: 10% !important;
}

// == TITLE ==
.edit-todo-name-popup-title {
    font-size: $title-size;
    font-weight: bold;
    border-left: $main-border-width solid $blue;
    padding-left: 10px;
}

// == INPUT ==
.edit-todo-name-popup-input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
