// == BASE ==
.todo-card {
    background: white;
    margin-bottom: 2rem !important;
}

.todo-card-icon {
    color: white;
}

// == TITLE ==
.todo-card-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0.4rem !important;
    border-left: 4px solid $blue;
}

.todo-card-title:hover {
    .todo-card-icon {
        color: $blue;
    }
}

// == TODO CARD TODOS ==
.todo-card-todos {
    padding: 1rem;
}

.todo-card-item {
    padding: 0 !important;
    margin: 6px 0px 6px 0px;
    border-left: 4px solid transparent;
}

.todo-card-item:hover {
    background: $blue-light;
    border-left: 4px solid $red;

    .todo-card-icon {
        color: $blue;
    }
}

// == ADD TODO SECTION ==
.add-todo-input-row {
    margin: 10px 0px 10px 0px;
    opacity: 0;
}

.add-todo-input-row:hover {
    opacity: 1;
}

.add-todo-input-field input {
    border: none !important;
}
