// == BASE ==
.todo-card-item {
    margin-bottom: 1rem !important;
    padding: 0 !important;
    border-left: 4px solid transparent;
}

.todo-card-item:hover {
    background: $blue-light;
    border-left: 4px solid $red;

    .todo-card-icon {
        color: $blue;
    }
}

// == CHECKBOX ==
.todo-checkbox {
    padding-top: 2px !important;
}
