.planner__sidebar {
  background-color: $white;
  overflow-y: scroll;
}

.planner__sidebar__dayslist__item {
  padding: var(--space-xxs) var(--space-md) 0 var(--space-md);
}

.planner__sidebar__dayslist__item__link {
  text-decoration: none;
}

.planner__sidebar__dayslist__item:hover {
  background-color: $background-grey-selected;
}

.planner__sidebar__dayslist__item__text {
  color: $text-grey;
}

.planner__sidebar__dayslist__item__chip {
  color: $white;
  background-color: $background-grey-selected;
  border-radius: 5px;
  padding: var(--space-xxs);
  height: 80%;

  // Nested component inside MUI Chip
  .MuiChip-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
  }
}

.planner__sidebar__dayslist__item__checkbox {
  svg {
    height: 100%;
    width: 100%;
  }
}

