// ** CLASSES **
// -- SIDEBAR --
.planner__sidebar {
  background-color: $white-background;
  overflow-y: auto;
}

// -- MONTH DROPDOWN --
.planner__sidebar__monthdropdown {
  height: 3vh;
}

// -- DAYS LIST --
.planner__sidebar__dayslist {
  display: table;
  height: 80vh;
  font-family: $default-font;
}

// Checkbox
.planner__sidebar__dayslist__item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 100%;
    width: 100%;
  }
}

// Item
.planner__sidebar__dayslist__item {
  display: table-row;
  color: $link-color;
  padding: var(--space-xs) var(--space-lg);
  font-size: var(--small-font-size);
}

// Item hover
.planner__sidebar__dayslist__item:hover {
  background-color: $grey-light-background;
}

// Link
.planner__sidebar__dayslist__item__link {
  text-decoration: none;
  display: table-row;
}

// Text
.planner__sidebar__dayslist__item__text {

}

// Chip
.planner__sidebar__dayslist__item__count {
  background-color: $grey-dark-background;
  color: $white;
  font-weight: var(--font-weight-regular);
  padding: var(--space-xxs);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

