// -- LOGO --
.sidemenu__logo {
  padding: var(--space-sm);
  text-align: center;

  // Logo svg
  svg {
    height: $sidemenu__icon--height;
    vertical-align: middle;
  }
}

// -- SIDEMENU --
.sidemenu {
  white-space: nowrap;
  position: relative;
  box-shadow: $default-box-shadow;

  // Equalize all button heights
  .MuiListItem-button {
    height: $sidemenu__icon--height;
  }
}

// Opened menu
.sidemenu--open {
  @include toggle-drawer("open", 200px);

  .sidemenu__logo svg {
    animation: open-sidemenu-logo-animation 0.5s;
  }
}

// Closed menu
.sidemenu--closed {
  @include toggle-drawer("closed", 55px);

  .sidemenu__logo svg {
    animation: close-sidemenu-logo-animation 0.5s;
  }
}

// -- SIDEMENU ITEMS --
.sidemenu__items {
  height: 100vh;
}

.sidemenu__item {
  text-decoration: none;
  color: $text-color;
}

// -- BOTTOM ACTIONS --
.sidemenu__bottomactions {
  position: absolute;
  bottom: 0;
  width: 100%;
}
