// ** VARIABLES **
$sidemenu__icon--height: 50px;

// ** MIXINS **
// There is a nested MUI Paper component in MUI Drawer that needs to be styled
@mixin sidemenu__paper {
  .MuiDrawer-paper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: inherit;
  }
}

// ** CLASSES **
// -- LOGO --
.sidemenu__logo {
  padding: var(--space-sm);
  text-align: center;

  svg {
    height: $sidemenu__icon--height;
    vertical-align: middle;
  }
}

// -- SIDEMENU --
.sidemenu {
  white-space: nowrap;
  position: relative;
  box-shadow: 0 5px 32px 0 rgba(0,0,0,0.16);;

  // Equalize all button heights
  .MuiListItem-button {
    height: $sidemenu__icon--height;
  }
}

// Opened menu
.sidemenu--open {
  @include sidemenu__paper;

  width: 200px;
  animation: open-sidemenu-animation 0.5s;

  .sidemenu__logo svg {
    animation: open-sidemenu-logo-animation 0.5s;
  }
}

// Closed menu
.sidemenu--closed {
  @include sidemenu__paper;

  width: 55px;
  animation: close-sidemenu-animation 0.5s;

  .sidemenu__logo svg {
    animation: close-sidemenu-logo-animation 0.5s;
  }
}

// -- SIDEMENU ITEMS --
.sidemenu__items {
  height: 100vh;
}

.sidemenu__item {
  text-decoration: none;
  color: $text-color;
}

// -- BOTTOM ACTIONS --
.sidemenu__bottomactions {
  position: absolute;
  bottom: 0;
  width: 100%;
}
