@mixin toggle-drawer($state, $width) {
  width: $width;

  @if ($state == "open") {
    transition: width 0.3s;
    width: 200px;
  }

  @if ($state == "closed") {
    transition: width 0.3s;
    width: 55px;
  }
}

@mixin toggle-sidemenu-logo($xFrom, $xTo) {
  animation: toggle-sidemenu-logo 0.25s;

  @keyframes toggle-sidemenu-logo {
    0% {
      transform: translateX($xFrom);
    }
    100% {
      transform: translateX($xTo);
    }
  }
}
