// == BASE ==
.reminder-section {
    padding: 1rem !important;
}

// == TITLE ==
.reminders-title {
    font-size: $title-size;
    background: $red-transparent;
    border-left: $main-border-width solid $red;
    padding: 0.4rem !important;
    font-weight: bold;
}

.add-reminder-icon:hover {
    cursor: pointer;
}

// == LIST ==
.reminder-list {
    padding: 1rem 0 1rem 0;
}

.reminder-list-item {
    background: $blue-transparent;
    margin-top: 2px;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    border-left: $main-border-width solid $red;
}

.reminder-list-item:hover {
    .reminder-list-item-icons {
        opacity: 1;
    }
}

.reminder-list-item-text {
    font-weight: 400 !important;
    font-size: 13px;
}

// Icons
.reminder-list-item-icons {
    color: $blue !important;
    opacity: 0;
}

// == ITEM TAGS ==
.reminder-list-item-tag {
    border-radius: 0 !important;
    padding: 0.1rem 0.5rem !important;
    color: white !important;
}
