// == BASE ==
.reminder-modal {
    padding: 2rem !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.reminder-modal-content {
    padding: 0 !important;
}

.reminder-modal-error {
    font-size: $title-size;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-weight: bold;
    background: $red-transparent;
    border-left: $main-border-width solid $red;
}

// == TITLE ==
.reminder-modal-title {
    border-radius: 0 !important;
    border-bottom: none !important;
    font-size: $title-big-size;
    font-weight: bold;
    border-left: $main-border-width solid $blue;
    padding: 0 1rem 0 1rem !important;
    margin-bottom: 1rem !important;
}

// == INPUTS ==
.reminder-title-input {
    padding-bottom: 1rem;
}

.reminder-description-input {
    padding-bottom: 1rem;
}

.reminder-description-input-box {
    border-radius: 0 !important;
}
