// Open menu animation
@keyframes open-sidemenu-animation {
  0% {
    width: 55px;
  }
  100% {
    width: 200px;
  }
}

// Close menu animation
@keyframes close-sidemenu-animation {
  0% {
    width: 200px;
  }
  100% {
    width: 55px;
  }
}

@keyframes open-sidemenu-logo-animation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes  close-sidemenu-logo-animation {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(0%);
  }
}

