// ** TEXT COLORS **
$button-text-color-primary: $color-white;
$button-text-color-primary-hover: $color-blue-dark;
$button-text-color-secondary: $text-color-primary;

// ** BACKGROUND COLORS **
$button-background-color-primary: $background-color-blue;
$button-background-color-primary-hover: $color-blue-dark;
$button-background-color-secondary: $color-white;
$button-background-color-secondary-hover: $color-black-lightest;
