// ** TEXT COLORS **
$button-text-color-primary: $color-white;
$button-text-color-primary-hover: $color-blue-dark;
$button-text-color-secondary: $text-color-primary;
$button-text-color-delete: $color-white;

// ** BACKGROUND COLORS **
$button-background-color-primary: $background-color-blue;
$button-background-color-primary-hover: $color-blue-dark;
$button-background-color-secondary: $color-white;
$button-background-color-secondary-hover: $color-black-lightest;
$button-background-color-delete: $color-red-light;
$button-background-color-delete-hover: $background-color-red-darker;

// ** ICON BUTTON COLORS **
$icon-button-color-primary-dark: $color-black;
$icon-button-color-primary: $color-black-light;
$icon-button-color-primary-hover: $background-color-grey;
