.planner__main__topbar {
  background-color: $grey-light-background;
  padding: var(--space-lg) var(--space-lg) 0 var(--space-lg);
}

.planner__main__topbar__title {
  color: $text-color;
  font-size: var(--h2-font-size);
  font-family: $default-font;
  font-weight: var(--font-weight-bold);
}
