.planner__main__topbar {
  background-color: $white-background;
  padding: var(--space-sm);
  box-shadow: $default-box-shadow;
}

.planner__main__topbar__title {
  color: $text-color;
  font-size: var(--h2-font-size);
  font-family: $default-font;
  font-weight: var(--font-weight-bold);
}
