// -- DAYS LIST --
.planner__sidebar__dayslist {
  height: 100vh;
  overflow-y: scroll;
  font-family: $default-font;
}

// Checkbox
.dayslist__item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Item
.dayslist__item {
  color: $link-color;
  padding: var(--space-xs) var(--space-lg);
  font-size: var(--small-font-size);

  &:hover {
    background-color: $grey-light-background;
  }
}

// Link
.dayslist__item__link {
  text-decoration: none;
}

// Chip
.dayslist__item__count {
  background-color: $grey-dark-background;
  color: $white;
  font-weight: var(--font-weight-regular);
  padding: var(--space-xxs);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
