.button-main {
  color: $button-text-color-main;
  background-color: $button-background-color-main;
  text-align: center;
  margin-top: $spacing-lg;
  text-transform: capitalize;
  padding: $spacing-xs $spacing-sm;
  font-size: $font-size-text;
  box-shadow: $box-shadow-default;
  letter-spacing: normal;

  &:hover {
    background-color: $color-blue-dark;
  }
}
