.button-main {
  background-color: $button-background-color-main;
  box-shadow: $box-shadow-default;
  color: $button-text-color-main;
  font-size: $font-size-text;
  letter-spacing: normal;
  margin-top: $spacing-lg;
  padding: $spacing-xs $spacing-sm;
  text-align: center;
  text-transform: capitalize;

  &:hover {
    background-color: $color-blue-dark;
  }
}
