// == BASE ==
.edit-todo-name-popup {
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: 10% !important;
}

// == INPUT ==
.edit-todo-name-popup-input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
