// == BASE ==
.todo-card {
    background: white;
    margin-bottom: 2rem !important;
}

.todo-card-icon {
    color: transparent;
}

// == TITLE ==
.todo-card-title {
    font-size: $title-size;
    font-weight: bold;
    margin: 0 !important;
    padding: 0.4rem !important;
    border-left: 4px solid $blue;
    background: $blue-transparent;
}

.todo-card-title:hover {
    .todo-card-icon {
        color: $blue;
    }
}

// == TODO CARD TODOS ==
.todo-card-todos {
    padding: 2rem 1rem 0 1rem;
}

// == ADD TODO SECTION ==
.add-todo-input-row {
    margin: 10px 0px 10px 0px;
    opacity: 0 !important;
    width: 100% !important;
}

.add-todo-input-row:hover {
    opacity: 1 !important;
}

.add-todo-input-row-visible {
    width: 100% !important;
    margin: 10px 0px 10px 0px;
    opacity: 1 !important;
}

.add-todo-input-field input {
    border: none !important;
}

// == EDIT NAME POPUP ==
.edit-tag-name-popup {
    border-radius: 0 !important;
    width: 15rem !important;
}
