// Open menu animation
@keyframes open-drawer-animation {
  0% {
    width: 55px;
  }
  100% {
    width: 200px;
  }
}

// Close menu animation
@keyframes close-drawer-animation {
  0% {
    width: 200px;
  }
  100% {
    width: 55px;
  }
}



