@keyframes open-sidemenu-logo-animation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes  close-sidemenu-logo-animation {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(0%);
  }
}
