// == BASE ==
.journal-entry-list-column {
    padding: 0 !important;
    background: $blue-light;
    height: 100vh !important;
    overflow-y: scroll !important;
}

// == ITEM ==
.journal-list-item {
    padding: 1rem 0.5rem 0.5rem 1rem !important;
    border-top: none !important;
}

.journal-list-item:hover {
    border-right: $main-border-width solid $blue;
    background: $blue-transparent;
}

.journal-list-item-date {
    font-size: 12px !important;
}
