// ** BASE RADII **
$border-radius-sm: 3px;
$border-radius-def: 5px;
$border-radius-lg: 10px;

// ** COMPONENTS **
$border-radius-input-field: $border-radius-def;
$border-radius-loader-block: $border-radius-sm;
