$size-height-form-field: 42px;
$default-button-height: 36px;
$default-button-width: 76px;

// ** LOADER SIZES **
$loader-title-text-height: 20px;
$loader-description-text-height: 16px;
$loader-tag-height: 15px;
$loader-tag-width: 50px;
