$spacing-default: 1em;
$spacing-xxs: calc(0.25 * #{$spacing-default});
$spacing-xs: calc(0.5 * #{$spacing-default});
$spacing-sm: calc(0.75 * #{$spacing-default});
$spacing-md: calc(1.25 * #{$spacing-default});
$spacing-lg: calc(2 * #{$spacing-default});
$spacing-xl: calc(3.25 * #{$spacing-default});
$spacing-xxl: calc(5.25 * #{$spacing-default});
