:root {
  --space-default: 1em;
  --space-xxs: calc(0.25 * var(--space-default));
  --space-xs: calc(0.5 * var(--space-default));
  --space-sm: calc(0.75 * var(--space-default));
  --space-md: calc(1.25 * var(--space-default));
  --space-lg: calc(2 * var(--space-default));
  --space-xl: calc(3.25 * var(--space-default));
  --space-xxl: calc(5.25 * var(--space-default));
}
