.button {
  border-radius: $bor-ra-de;
  box-sizing: border-box;
  font-size: $fn-sz-text;
  font-weight: $fn-weight-medium;
  letter-spacing: normal;
  padding: $spacing-xs $spacing-sm;
  text-align: center;
  text-transform: capitalize;
}

.button--primary {
  background-color: $btn-bc-co-prim;
  color: $btn-tx-co-prim;

  &:hover {
    background-color: $btn-bc-co-prim-hov;
    cursor: pointer;
  }
}

.button--secondary {
  background-color: $btn-bc-co-seco;
  border: 1px solid $btn-tx-co-seco;
  color: $btn-tx-co-seco;

  &:hover {
    background-color: $btn-bc-co-seco-hov;
    cursor: pointer;
  }
}
