.dialog {
  @include flex-i-center-c-center;
  background-color: $background-color-black-transparent;
  bottom: 0;
  cursor: default;
  left: 0;
  padding: $spacing-md;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 150ms, 150ms, 150ms;
  transition-property: visibility, opacity, background-color;
  transition-timing-function: ease-in-out;
  z-index: 1500;
}

.dialog__header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dialog__content {
  background: $background-color-white;
  border-radius: $border-radius-def;
  max-width: 500px;
  padding: $spacing-md;
  width: 500px;
}

.dialog--open {
  bottom: 0;
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 1500;
}

.dialog--closed {
  opacity: 0;
  visibility: hidden;
}


