.dialog {
  @include flex-i-center-c-center;
  background-color: $background-color-black-transparent;
  bottom: 0;
  cursor: default;
  left: 0;
  padding: $spacing-md;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 150ms, 150ms, 150ms;
  transition-property: visibility, opacity, background-color;
  transition-timing-function: ease-in-out;
  z-index: 1500;
}

.dialog__content {
  background: $background-color-white;
  border-radius: $border-radius-def;
  max-width: 500px;
  padding: $spacing-md;
  width: 500px;
}

.dialog__header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacing-def;
  width: 100%;
}

.dialog__navigation {
  display: flex;
  justify-content: flex-start;
  padding-bottom: $spacing-xs;
  width: 100%;

  :not(:first-child) {
    margin-left: $spacing-sm;
  }
}

.dialog__navigation-button {
  @include flex-i-center-c-center;
  box-shadow: none;
  font-size: $font-size-xs;
  height: 30px;
  transition: box-shadow 200ms ease-in-out;
}

.dialog__navigation-button--selected {
  background-color: $background-color-grey-lighter;
  font-weight: bold;
}

.dialog__button-text {
  margin: 0 !important;
  padding-left: $spacing-xxs;
}

.dialog__button-icon {
  height: 14px !important;
  width: 14px !important;
}

.dialog__text {
  padding: $spacing-md 0;
}

.dialog--open {
  bottom: 0;
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 1500;
}

.dialog--closed {
  opacity: 0;
  visibility: hidden;
}

.dialog__checkbox {
  align-items: center;
  display: flex;
  font-size: $font-size-sm;
}

