// Reset global margins and paddings
* {
  margin: 0;
  padding: 0;
}

// Sets base font size rem is based upon
html {
  font-size: 16px;
}

// Remove scrollbar visibility
::-webkit-scrollbar {
  width: 0;
}


