// == BASE ==
html,
body {
    height: 100vh;
    margin: 0;
}

.width-100-pcnt {
    width: 100% !important;
}

.view-height {
    height: 100vh !important;
}

// Fit app in screen
.react-app {
    height: 100vh;
    padding-bottom: 0 !important;
    margin-left: 0 !important;
}

.dropdown {
    display: block;
}

// Remove semantic-ui-rect opacity change on hover
.icon {
    opacity: 1 !important;
}

// == WIDTH ==
.max-w-30-p {
    max-width: 30%;
}

// == OVERRIDES ==
// Remove defaults from menu item
.ui.menu {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

// == INPUT ==
// Remove input field defaults
.ui.input > input {
    border-radius: 0 !important;
}

// Remove blue border on active from input field
.ui.input > input:focus {
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

// == CHECKBOX ==
// Checkbox box
.ui.checkbox label:before {
    border-radius: 0 !important;
}

.ui.checkbox label:hover::before {
    background: $green-transparent !important;
    border-color: $green-transparent !important;
    border: 1px solid $green-transparent !important;
}

// Clicked checkbox box
.ui.checkbox input:checked ~ label:after {
    color: white !important;
    background: $green !important;
}

// == DATEPICKER ==
// Input box
.datepicker-box {
    border: 2px solid #0085ff1f;
    padding: 2px 10px 2px 10px;
}

// Calendar box
.react-datepicker {
    border-radius: 0 !important;
}

// Selected day
.react-datepicker__day--selected {
    background: $red;
    color: white;
    border-radius: 0 !important;
}

// Day hover
.react-datepicker__day:hover {
    color: white;
    background: $blue;
    border-radius: 0 !important;
}

// Header
.react-datepicker__header {
    background-color: $blue-light;
}

// == TITLES ==
// Main title
.title {
    font-size: $title-big-size;
    font-weight: bold;
    border-left: $main-border-width solid $blue;
    padding-left: 1rem !important;
    margin-bottom: 1rem !important;
}

// Subtitle
.subtitle {
    font-size: $title-size;
    font-weight: bold;
    border-left: $main-border-width solid $blue;
    padding-left: 1rem !important;
    margin-bottom: 1rem;
}
