// == BASE ==
// Fit app in screen
.react-app {
    height: 100vh;
    margin-left: 0 !important;
}

// Remove semantic-ui-rect opacity change on hover
.icon {
    opacity: 1 !important;
}

// == WIDTH ==
.max-w-30-p {
    max-width: 30%;
}

// == BORDERS ==
$main-border-width: 4px;
