.main-button {
    color: white !important;
    background: $blue !important;
    border-radius: 0 !important;
}

.secondary-button {
    color: white !important;
    background: $red !important;
    border-radius: 0 !important;
}
