.button-primary {
    color: white !important;
    background: $blue !important;
    border-radius: 0 !important;
}

.button-secondary {
    color: white !important;
    background: $red !important;
    border-radius: 0 !important;
}
