// == COLORS ==
// Blue
$blue: #0085ff;
$blue-light: #f4f7fd;
$blue-extra-transparent: #0085ff1f;

// Red
$red: #f12b2c;

// Grey
$grey: #333;
$grey-light: #b6bac3;

// == WIDTHS ==
$main-border-width: 4px;
