// == COLORS ==
// Blue
$blue: #0085ff;
$blue-light: #f4f7fd;
$blue-transparent: #0085ff1f;

// Red
$red: #f12b2c;
$red-transparent: #f12b2c96;

// Grey
$grey: #333;
$grey-transparent: #d4d4d5;
$grey-light: #b6bac3;

// Green
$green: #63ea90;
$green-transparent: #63ea9063;

// == WIDTHS ==
$main-border-width: 4px;

// == FONT SIZES ==
$title-size: 15px;
$title-big-size: 20px;
