// == COLORS ==
// Blue
$blue: #0085ff;
$blue-light: #f4f7fd;
$blue-transparent: #e0f0ff;

// Red
$red: #f12b2c;
$red-transparent: #f12b2c96;
$red-light: #f12b2c1f;

// Grey
$grey: #333;
$grey-transparent: #d4d4d5;
$grey-light: #9e9e9e;

// Green
$green: #63ea90;
$green-transparent: #63ea9063;
$green-light: #e4f9eb;

// Black
$black: #1d1f21;

// == WIDTHS ==
$main-border-width: 4px;

// == FONT SIZES ==
// Title
$title-size: 15px;
$title-big-size: 20px;

// Text
$text-default: 14px;
$text-small: 11px;
