// Zeroing
.mar-all-0 {
    margin: 0 !important;
}

.mar-top-bot-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

// Singles
.mar-top-1-rem {
    margin-top: 1rem !important;
}

.mar-bot-1-rem {
    margin-bottom: 1rem !important;
}

.mar-bot-0-5-rem {
    margin-bottom: 0.5rem !important;
}
.mar-left-1-rem {
    margin-left: 1rem !important;
}
