// Zeroing
.padd-all-0 {
    padding: 0 !important;
}

.pad-lef-rig-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// Singles
.pad-all-10-px {
    padding: 10px;
}

.pad-top-10-px {
    padding-top: 10px;
}

.pad-bot-10-px {
    padding-bottom: 10px;
}

.pad-lef-25-px {
    padding-left: 25px !important;
}

// Multiple
.pad-top-bot-10-px {
    padding-top: 10px;
    padding-bottom: 10px;
}
