// Zeroing
.padd-all-0 {
    padding: 0 !important;
}

.pad-lef-rig-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pad-top-bot-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

// Singles
.pad-all-10-px {
    padding: 10px;
}

.pad-top-10-px {
    padding-top: 10px;
}

.pad-bot-10-px {
    padding-bottom: 10px;
}

.pad-lef-25-px {
    padding-left: 25px !important;
}

.pad-bot-1-rem {
    padding-bottom: 1rem !important;
}

.pad-top-1-rem {
    padding-top: 1rem !important;
}

.pad-left-1-rem {
    padding-left: 1rem !important;
}

// Multiple
.pad-top-bot-10-px {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pad-rig-lef-20-px {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pad-all-1-rem {
    padding: 1rem !important;
}

.pad-lef-rig-1-rem {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
